body{
  display: block;
  font-size: 52px;
  color: transparent;
  text-align: center;
  background-image: url("source.gif");
  background-size:cover;
  background-attachment: fixed;

}

.button {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  bottom: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p.popo {
  color: white;
  font-size: 30%;
  font-family: arial;
}

p.hoy {
  color: white;
  font-size: 150%;
  font-family: verdana;
}
